<!DOCTYPE html>
<html>
  <style>
    {
    color: #254470;
    }
  </style>
    <head>
        {% block head %}
        <link href="../static/css/bootstrap.css" rel="stylesheet">
        <link href="../static/css/app.css" rel="stylesheet">
        <title> {% block title %} {% endblock %} || Food for U N I </title>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Food for U N I</a>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/recipes_search">Recipe Search</a></li>
                <li class="nav-item"><a class="nav-link" href="/restaurant_search">Restaurants Search</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Recommendations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/cipe_recc">Recipes</a>
                        <a class="dropdown-item" href="/rest_recc">Restaurants</a>
                    </div>
                </li>
            </ul>
        </nav>
        <br>
        <div class="container page-body">
            {% for msg in get_flashed_messages() %}
            <div class="alert alert-dark" role="alert">
                {{msg}}
            </div>
            {% endfor %}
            {% block content %}
            {% endblock %}
        </div>
        <br><br><br>
        <footer class="page-footer footer">
            <div class="container text-muted">
                <div class="row">
                    <div class="col text-left">
                        <p>Team U N' I</p>
                    </div>
                    <div class="col text-right">
                        <p>Jasper Cheung, Leu Liu, Queenie Xiang, Helen Ye</p>
                    </div>
                </div>
            </div>
        </footer>
</html>
