<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/app.css" rel="stylesheet">
    <title> {% block title %} {% endblock %} || Food for U N I </title>
    {% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/recipes_search">Recipes</a></li>
      <li><a href="/restaurant_search">Restartuants</a></li>
      <li>Reccomendatisons </li>
    </ul>
      </div>
    </nav>
    <div class="container">
        {% for msg in get_flashed_messages() %}
        <div class="alert alert-dark" role="alert">
            {{msg}}
        </div>
        {% endfor %}
      {% block content %}
      {% endblock %}
    </div>
    <br><br><br>
    <footer class="page-footer footer">
      <div class="container text-muted">
        <div class="row">
          <div class="col text-left">
            <p>Team U N' I</p>
          </div>
          <div class="col text-right">
            <p>Jasper Cheung, Leu Liu, Queenie Xiang, Helen Ye</p>
          </div>
        </div>
      </div>
    </footer>

</html>
