<!--
Queenie Xiang
SoftDev1 pd7
HW14 -- Getting More REST
2017-11-12
-->

<html>
  <center>
    <style>
      body {
      background-image: url("https://orig00.deviantart.net/2bb6/f/2008/207/8/8/oriental_foods_background__3_by_ispaz247.jpg"); 
      font-family: papyrus
      }

      h1 {
      font-family: papyrus;
      font-size: 80px;
      }
      
    </style> 
    <head>
      <title> Yummy Food Time </title> 
    <h1> Hello! What are you in the mood for today? </h1>
  </head>

    <body>
      
      Type all the ingredients you're interested in searching for: <br>
      <i> (Please separate each field with a comma) </i> <br><br>
      <form action = "/results" id="usr_input">
	
	<textarea rows="4" cols="50" name="ingredients" form="usr_input"></textarea>
	<br><br>
	<input type = "submit" name = "submit">
	
      </form>  
    </body>
</html>
