<!--
Queenie Xiang
SoftDev1 pd7
HW14 -- Getting More REST
2017-11-12
-->

<html>
  <center>
    <head>
      <title> homepage </title>
      
      <style>
	h1 {
	font-family: papyrus;
	font-size: 80px;
	}

	h2 {
	font-family: papyrus;
	font-size: 60px;
	}

	body {
	font-size: 40px;
	font-family: papyrus;
	background-image: url("http://ak3.picdn.net/shutterstock/videos/11306003/thumb/1.jpg");
	color: white;
	
      </style>
          
      <h1>Welcome! </h1>
      <h2> Which one will you choose? </h2> 
    </head>
    
    <body>
      <form action = "/redirecting">
	<input type = "radio" name = "choice" value = "space"> Space <br>
	<input type = "radio" name = "choice" value = "food"> Food <br><br>
	<input type = "submit" name = "submit"> 
    </body>
    
  </center>
</html>

