{% extends "base.html" %}

{% block title %}
Food For U N I
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="jumbotron text-center rounded">
            <h1 class="display-3">
                Welcome to Food For U N I
            </h1>
            <hr>
            <h2 class="display-5">
                Do you wish to...
            </h2>
            <br>
            <div class="row">
                <div class="col-md-5 text-right">
                    <a href="/recipe_search" class="btn btn-primary btn-lg" role="button">
                        cook yourself?
                    </a>
                </div>
                <div class="col-md-2">
                    <h3 class="align-middle">OR</h3>
                </div>
                <div class="col-md-5 text-left">
                    <a href="/restaurant_search" class="btn btn-primary btn-lg" role="button">eat out?</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
