{% extends "base.html" %}
{% block title %}
Yummy Food Time
{% endblock %}

{% block content %}

<div class="text-center">
    <form action = "/recipes" id="usr_input">

        How do you want the results to be sorted? <br>
        <input type = "radio" name = "sort" value = "highest"> Highest to Lowest
        <br>
        <input type = "radio" name = "sort" value = "lowest"> Lowest to Highest
        <br><br>
        Type all the ingredients you're interested in searching for: <br>
        <i> (Please separate each field with a comma) </i> <br><br>
        <textarea rows="4" cols="50" name="ingredients" form="usr_input"></textarea>
        <br><br>
        <input type = "submit" name = "submit">

    </form>
</div>
{% endblock %}
