{% extends "base.html" %}
{% block title %}
Yummy Food Time
{% endblock %}

{% block content %}

<center>
  <div class="container">
    <div class="jumbotron">
      <h1>Search for recipes!</h1>
      <p>To search for a recipe, fill in the desired ingredients (to the best of your abilities).</p>
    </div>
  </div>
  <form action="/recipes" method="GET" id="ingredients">

    LIST YOUR INGREDIENTS BELOW: <br>
    <i> (Please separate each ingredient by using a comma) </i> 
    <div class = "form-group">
      <textarea class="form-control" name="ingredients"  row="4"></textarea>
    </div>

    Any ingredients to avoid (i.e. allergies)? <br>
    <i> (Please separate each ingredient by using a comma) </i> 
    <div class = "form-group">
      <textarea class="form-control" name="ing_to_avoid" row="4"></textarea>
    </div>

    <br>
    <div class="form-check">
      How do you want your results to be sorted? <br>
      <label class="form-check-label">
	<input class="form-check-input" type="radio" name="sort" id = "ingredients" value="r">
	Highest Rating <br>
	<input class="form-check-input" type="radio" name="sort" id = "ingredients" value="t">
	Trendiness <br>
      </label>
    </div>

    <br><br>


  <input type = "submit" name = "submit">

  </center>
</form>

{% endblock %}
